.landing-hero {
  background: radial-gradient(transparent 50%, rgba(147, 119, 94, 0.5)),
    url(/img/noise.png);
  background-size: 100%, auto;
}

@screen lg {
  .landing-hero {
    background: url(/img/hero-left.png) 5% center no-repeat,
      url(/img/hero-right.png) 95% center no-repeat,
      radial-gradient(transparent 50%, rgba(147, 119, 94, 0.5)),
      url(/img/noise.png);
    background-size: 20%, 20%, 100%;
  }
}

@screen xl {
  .landing-hero {
    background: url(/img/hero-left.png) 5% center no-repeat,
      url(/img/hero-right.png) 95% center no-repeat,
      radial-gradient(transparent 50%, rgba(147, 119, 94, 0.5)),
      url(/img/noise.png);

    background-size: 25%, 25%, 100%;
  }
}

@screen 2xl {
  .landing-hero {
    background: url(/img/hero-left.png) 2% center no-repeat,
      url(/img/hero-right.png) 98% center no-repeat,
      radial-gradient(transparent 50%, rgba(147, 119, 94, 0.5)),
      url(/img/noise.png);

    background-size: contain, contain, 100%;
  }
}

.landing-get-started {
  background: linear-gradient(0, transparent, rgba(163, 86, 62, 0.7)),
    url(/img/chat-bubble-pattern.png);
}
